.blog {
  .section-info {
    margin-bottom: $mg-7;
  }
  .blog__content {
    .blog__photo {
      figure {
        position: relative;
        margin: 0;
        img {
          width: 100%;
        }
        figcaption {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: $color-rgba-3;
          font-weight: $fw-1;
          color: $color-white-0;
          padding: $pd-9 - 0.5;
        }
      }
    }
    .blog__text {
      padding: $pd-5 0;
      .blog__tag,
      .blog__info {
        padding: 0;
        li {
          display: inline;
          a {
            text-transform: uppercase;
            @include textStyle2($fs-0 - 1, $color-gray-3);
            &:hover {
              color: $color-yellow-0;
            }
          }
        }
      }
      .blog__tag {
        margin-bottom: $mg-4;
        li:first-child {
          margin-right: $mg-4;
        }
        a {
          letter-spacing: $letter-spacing-3;
        }
      }
      .blog__title {
        margin-bottom: $mg-4;
        a {
          text-transform: uppercase;
          letter-spacing: $letter-spacing-3;
          color: $color-black-0;
          &:hover {
            color: $color-yellow-0;
          }
        }
      }
      .blog__info {
        font-size: $fs-0 - 1;
        margin-bottom: $mg-8;
        li:first-child {
          &::after {
            content: "|";
            color: $color-gray-3;
            padding: 0 $pd-11 0 $pd-11 - 1;
          }
        }
        a {
          letter-spacing: $letter-spacing-3 + 1;
        }
      }
      p {
        color: $color-gray-0;
        line-height: $line-height-4;
        margin-bottom: $mg-5;
      }
      .blog__read {
        position: relative;
        text-transform: uppercase;
        color: $color-gray-4;
        letter-spacing: $letter-spacing-3;
        &:hover {
          color: $color-black-3;
        }
        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-weight: $fw-2;
          margin-left: $mg-4;
        }
      }
    }
  }
  // RESPONSIVE
  @media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .blog__content {
      .blog__text {
        padding: 0;
      }
    }
  }
}
