.team {
  .section-info {
    margin-bottom: $mg-2;
  }
  .team__item {
    position: relative;
    overflow: hidden;
    &:hover {
      .team__info {
        opacity: 1;
        .team__text {
          top: 35%;
          opacity: 1;
        }
        .team__social {
          bottom: 10%;
          opacity: 1;
        }
      }
    }
    .team__photo {
      position: relative;
      img {
        width: 100%;
      }
      .team__name {
        position: absolute;
        right: 0;
        bottom: 33px;
        width: 70%;
        background-color: $color-rgba-5;
        text-align: right;
        text-transform: uppercase;
        padding: $pd-0 - 2 $pd-1;
        h3 {
          @include textStyle1($fs-0 + 1, $fw-0, $color-white-0);
          margin-bottom: $mg-0;
        }
        p {
          @include textStyle2($fs-0 - 1, $color-rgba-2);
          letter-spacing: $letter-spacing-3 + 1;
        }
      }
    }
    .team__info {
      @extend %hover-img;
      .team__text {
        position: absolute;
        top: 0;
        transform: translateY(-55%);
        padding: 0 $pd-1;
        opacity: 0;
        transition: all 0.3s;
        h3 {
          text-transform: uppercase;
          letter-spacing: $letter-spacing-2 + 1;
          @include textStyle2($fs-1 - 1, $color-black-3);
          margin-bottom: $mg-5 - 5;
        }
        p {
          @include textStyle2($fs-1 - 1, $color-gray-0);
          line-height: $line-height-4;
        }
      }
      .team__social {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: $fs-4;
        text-align: center;
        transform: translateY(45%);
        opacity: 0;
        transition: all 0.3s;
        a {
          @include textStyle2($fs-1 + 1, $color-black-3);
          margin: 0 $mg-4;
          &:hover {
            color: $color-yellow-0;
          }
        }
      }
    }
  }
  .team__promo {
    background-color: $color-white-2;
    padding: $pd-6 + 5;
    margin-top: $mg-7;
    .team__promo-info {
      h3 {
        font-size: $fs-1 + 3;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-3;
        span {
          color: $color-yellow-0;
        }
      }
      p {
        color: $color-gray-0;
        margin-top: $mg-4;
      }
    }
    .team__promo-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
  }
  // RESPONSIVE
  @include responsiveDesktopFirst("medium") {
    .team__promo {
      .team__promo-btn {
        margin-top: $mg-1 + 5;
        justify-content: start;
        button {
          margin-bottom: $mg-0 + 3;
        }
      }
    }
  }
}
